* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100vh;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.card-one {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 45px;
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 0 0 8px;
}

.card-two {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 45px;
  background-color: hsl(184, 100%, 22%);
}

.card-three {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 45px;
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 8px 8px 0;
}

.title {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
  color: hsl(0, 0%, 95%);
}

.description {
  line-height: 25px;
  color: hsla(0, 0%, 100%, 0.75);
}

.btn {
  width: 150px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  margin-top: 50px;
  padding: 13px 17px;
  border-radius: 25px;
  border: 2px solid hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 95%);
}
.one {
  color: hsl(31, 77%, 52%);
}

.two {
  color: hsl(184, 100%, 22%);
}

.three {
  color: hsl(179, 100%, 13%);
}

.one:hover,
.two:hover,
.three:hover {
  color: hsla(0, 0%, 100%, 0.75);
}

.btn:hover {
  color: hsl(0, 0%, 95%);
  background: transparent;
}

@media (max-width: 915px) {
  .card-container {
    max-width: 325px;
    height: 450px;
    display: flex;
    flex-direction: column;
  }

  .card-one {
    border-radius: 8px 8px 0 0px;
  }

  .card-three {
    border-radius: 0 0 8px 8px;
  }

  .btn {
    margin-top: 5px;
  }
}
